In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/news/eight/eight-8yr.csv")

/run/media/shravan/SHRAVAN/Programs/Python/virtual/env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3050: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
df.head()

,headline,url,date1,datefull,cat
0,Dance reviews,https://www.deccanherald.com/content/216090/da...,2012-01-01,2012-01-01,Art Review
1,Weighing the heritage,https://www.deccanherald.com/content/216092/we...,2012-01-01,2012-01-01,Art Review
2,PlayBook sold out in India--RIM extends festiv...,https://www.deccanherald.com/content/215933/pl...,2012-01-01,2012-01-01,Business
3,Govt to charge for spectrum beyond 4.4 MHz fro...,https://www.deccanherald.com/content/215938/go...,2012-01-01,2012-01-01,Business
4,Stock market hopes for better days in 2012,https://www.deccanherald.com/content/215939/st...,2012-01-01,2012-01-01,Business

In [6]:
df = df.drop('cat',axis=1)
df.head()

,headline,url,date1,datefull
0,Dance reviews,https://www.deccanherald.com/content/216090/da...,2012-01-01,2012-01-01
1,Weighing the heritage,https://www.deccanherald.com/content/216092/we...,2012-01-01,2012-01-01
2,PlayBook sold out in India--RIM extends festiv...,https://www.deccanherald.com/content/215933/pl...,2012-01-01,2012-01-01
3,Govt to charge for spectrum beyond 4.4 MHz fro...,https://www.deccanherald.com/content/215938/go...,2012-01-01,2012-01-01
4,Stock market hopes for better days in 2012,https://www.deccanherald.com/content/215939/st...,2012-01-01,2012-01-01

In [7]:
df['date1'] = pd.to_datetime(df.date1)
df.head()

,headline,url,date1,datefull
0,Dance reviews,https://www.deccanherald.com/content/216090/da...,2012-01-01,2012-01-01
1,Weighing the heritage,https://www.deccanherald.com/content/216092/we...,2012-01-01,2012-01-01
2,PlayBook sold out in India--RIM extends festiv...,https://www.deccanherald.com/content/215933/pl...,2012-01-01,2012-01-01
3,Govt to charge for spectrum beyond 4.4 MHz fro...,https://www.deccanherald.com/content/215938/go...,2012-01-01,2012-01-01
4,Stock market hopes for better days in 2012,https://www.deccanherald.com/content/215939/st...,2012-01-01,2012-01-01

In [12]:
df.sort_values(by='date1',inplace=True, ascending=True) 
df.tail()

,headline,url,date1,datefull
1539871,Wall Street rises on latest Fed rescue program,https://www.moneycontrol.com/news/business/mar...,2020-04-10,04/10/20 08:02:00
1492712,Managing over Rs 2--400 cr-- these fund manage...,https://www.moneycontrol.com/news/business/mar...,2020-04-10,04/10/20 09:59:00
945812,Fashion,NaN,NaT,NaN
1097054,States are becoming a headache for PM Modi-- bond,NaN,NaT,NaN
1439087,Banks need to comply with KYC norms better: RB...,NaN,NaT,NaN

In [22]:
print(df.shape)

(2059034, 4)

In [23]:
df = df.dropna()
df.tail()

,headline,url,date1,datefull
1539867,Foreign investors return to Indian market in A...,https://www.moneycontrol.com/news/business/mar...,2020-04-10,04/10/20 08:53:00
1539878,High-profile Indian diaspora group raises $600...,https://www.moneycontrol.com/news/india/high-p...,2020-04-10,04/10/20 07:30:00
1539872,General Motors plans to extend shutdown of Bra...,https://www.moneycontrol.com/news/world/genera...,2020-04-10,04/10/20 08:02:00
1539871,Wall Street rises on latest Fed rescue program,https://www.moneycontrol.com/news/business/mar...,2020-04-10,04/10/20 08:02:00
1492712,Managing over Rs 2--400 cr-- these fund manage...,https://www.moneycontrol.com/news/business/mar...,2020-04-10,04/10/20 09:59:00

In [24]:
df.head()

,headline,url,date1,datefull
0,Dance reviews,https://www.deccanherald.com/content/216090/da...,2012-01-01,2012-01-01
3,Govt to charge for spectrum beyond 4.4 MHz fro...,https://www.deccanherald.com/content/215938/go...,2012-01-01,2012-01-01
4,Stock market hopes for better days in 2012,https://www.deccanherald.com/content/215939/st...,2012-01-01,2012-01-01
6,It's happy new year for hiring; over 5 lakh ne...,https://www.deccanherald.com/content/215948/it...,2012-01-01,2012-01-01
7,SEBI committee examining e-IPO proposal,https://www.deccanherald.com/content/215981/se...,2012-01-01,2012-01-01

In [25]:
df.to_csv('eight-sorted.csv', encoding='utf-8', index=False)